<h1>Welcome</h1>
<% if logged_in? %>
    <h2><%=current_user.username %></h2>
<% end %>

<h3>See all Posts here</h3>

# <span class="loginlogoutlink">
   # <a title="Log Out" class="loginlogoutlink-logout" href="/">Log Out</a>
# </span>

